body {  /* global property */
  font-size: 18px; /* устанавливает корнейвой шрифт для rem */
  font-family: Helvetica;
  line-height: 1.4;
}

.main-img { /* Main block, блок с фоном */
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;

}

.head-text-column { /* вспомогательный для выравнивания меню и текста на белом фоне */
  display: flex;
  flex-direction: column;
}

.main-img-align { /* задаем вспомогательный блок с заданной шириной */
  width: 960px;
  background-color: cadetblue;
  display: inline-block;
  height: 3.5rem;
  margin-top: 1rem;
}

.main-img-align-sub { /* задаем вспомогательный блок для выравниания по space-between */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

.main-logo-header { /* блок с лого и заголовком, слева */
  display: flex;
  margin: 1rem 2rem;
  align-items: center;
}

.main-logo-header img { /* свойства лого */
  height: 1.5rem;
  margin-right: 1rem;
}

.main-logo-header span { /* свойства заголовка */
  color: white;
}

.main-logo-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-menu { /* меню, справа  */
  display: inline-block;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.main-menu span { /* цвет и размер текста меню */
  color: white;
  padding: 1rem;
}

.sub-menu { /* доп меню для мобильной версии */
  text-align: center;
}

.sub-menu span { /* доп меню для мобильной версии */
  color: white;
  padding: 1rem;
  display: none;
}

.main-text { /* блок для выравнивания текста на белом фоне */
  width: 960px;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}

.white-block { /* вспомогательный  */
  display: flex;
  justify-content: center;
}

.white-block-text { /* вспомогательный  */
  background-color: white;
  position: relative;
  left: 2rem; /* с помощью относительного позиционирования сдвигаем на 2rem влево */

}

.white-block-text h1 {
  font-size: 2.3rem; /* то тех заданию 2rem */
  line-height: 1.2;
  font-weight: bold;
  padding: 1.5rem 5rem;
}
/* end Main block with background, header and text */

.content-block { /* основной разделитель */
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

.content-block-size { /* задает базовую ширину в 960px */
  width: 960px;
  display: flex;
  justify-content: center;
}

.paper { /* первый элемент Paper */
  height: 8rem;
  margin: auto 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper img {
  width: 3.5rem;
  height: auto;
}

.paper-text {
  display: block;
  margin-top: 1rem;
}

.paper-text span {
  display: block;
  text-align: center;
}

.ruler { /* второй элемент Ruler */
  height: 8rem;
  margin: auto 3rem;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.ruler-img {
  display: block;
  justify-content: center;
  align-items: center;
}

.ruler img {
  width: 5rem;
  height: auto;
}

.ruler-text {
  display: block;
  margin-top: 2rem;
}

.ruler-text span {
  display: block;
  text-align: center;
}

.truck { /* третий элемент Truck */
  height: 8rem;
  margin: auto 3rem;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.truck-img {
  display: block;
  justify-content: center;
  align-items: center;
}

.truck img {
  width: 5rem;
  height: auto;
}

.truck-text {
  display: block;
  margin-top: 1.5rem;
}

.truck-text span {
  display: block;
  text-align: center;
}
/* and IMG block */

.text-block { /* основной разделитель */
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

.text-block-size { /* задает базовую ширину в 960px */
  width: 960px;
  display: flex;
  justify-content: center;
}

.philosophy { /* первый элемент Philosophy */
  width: 35%;
  display: block;
  margin: 2.5%;
}

.philosophy-head{
  background-color: cadetblue;
  display: block;
  width: 10rem; /* возможно увеличить */
}

.philosophy-head span {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  margin: 0.5rem 1.25rem;
}

.philosophy-paragraph {
  margin-top: 1rem;
}

.appointments { /* второй элемент Appointments */
  width: 35%;
  display: block;
  margin: 2.5%;
}

.appointments-head{
  background-color: cadetblue;
  display: block;
  width: 10rem; /* возможно увеличить */
}

.appointments-head span {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  margin: 0.5rem 1.25rem;
}

.appointments-paragraph {
  margin-top: 1rem;
}
/* end INFO block */

.footer-block { /* основной разделитель */
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  background-color: azure;
}

footer { /* задает базовую ширину в 960px */
  width: 960px;
  display: flex;
  justify-content: flex-start;;
}

.footer-logo {
  display: flex;
  margin: 4rem;
}

.footer-logo img {
  height: 1.5rem;
  margin-right: 1rem;
}
/*end footer block */

@media only screen and (max-width: 1024px) { /* медиа запрос для планшетной версии */
  body { /* убираем сверху область */
    margin: 0;
    padding: 0;
  }

  .main-img { /* высота блока с фоном в 22rem */
    height: 22rem;
  }

  .head-text-column { /* это я хз что за блок */
    width: 100%;
  }


  .main-img-align { /* блок с меню и лого */
    margin-top: 0;
    width: 960px;
    width: 100%;
  }

  .main-text { /* блок на белом фоне с текстом */
    width: 960px;
    width: 100%;
    margin-top: 5rem;
  }

  .white-block-text { /* вспомогательный  */
    position: relative;
    left: -2rem; /* с помощью относительного позиционирования сдвигаем на 2rem вправо */
  }


  .white-block-text h1 { /* своства текста */
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
}
@media only screen and (max-width: 700px) { /* на 700px верхнее меню накладывается друг на друга, чуть уменьшили */
  .main-logo-header {
    margin: 1rem 0;
  }

  .main-logo-header img {
    margin-left: 2rem;
  }

  .main-menu {
    margin: 1rem 0;
  }

  .main-menu span {
    font-size: 1rem;
    padding: 0.7rem;
  }



}
@media only screen and (max-width: 560px) {
  .main-img { /* высота блока с фоном в 17rem */
    height: 17rem;
    background-position: 20%;
  }

  .main-logo-menu { /* основное и скрытое меню меняем на располажение в строку */
    flex-direction: row;
  }
  .main-logo-header span { /* скрываем заголовок справа от лого */
    display: none;
  }

  .main-menu span { /* скрываем основное меню */
    display: none;
  }

  .sub-menu span { /* показываем основне меню */
    display: block;
  }

  .main-text { /* блок для выравнивания текста на белом фоне */
    width: 100%; /* возможно изменить на 479px */
    margin-top: 9rem;
    display: flex;
    justify-content: center;
  }

  .white-block-text { /* вспомогательный  */
    width: 100%;
    background-color: white;
    position: static;
    display: flex;
    justify-content: center;
  }

  .white-block-text h1 { /* шрифт и padding текста на белом фоне */
    font-size: 1rem;
    padding: 1rem auto;
  }
/* end Main block with background, header and text */

  .content-block { /* основной разделитель */
    display: flex;
    justify-content: center;
    margin-top: 3.77rem;
    width: 100%;
  }

  .content-block-size { /* задает базовую ширину в 5rem */
    width: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .paper { /* первый элемент Paper */
    width: 5rem;
    margin: 0;
    margin-top: 0.2rem;
  }

  .paper-text span {
    font-size: 0.77rem;
  }

  .ruler { /* второй элемент Ruler */
    width: 5rem;
    margin: 0;
    margin-top: 1.54rem;
  }

  .ruler-text span {
    font-size: 0.77rem;
  }

  .truck { /* третий элемент Truck */
    width: 5rem;
    margin: 0;
    margin-top: 1.54rem;
  }

  .truck-text span {
    font-size: 0.77rem;
  }

  .text-block { /* основной разделитель */
    display: flex;
    justify-content: center;
    margin-top: 3.77rem;
    width: 100%;
  }

  .text-block-size { /* задает базовую ширину в 960px */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .philosophy { /* первый элемент Philosophy */
    width: 100%;
    display: block;
    margin: 0;
  }

  .philosophy-head{
    background-color: cadetblue;
    display: block;
    width: 100%;
    text-align: center;
  }

  .philosophy-head span {
    font-size: 1rem;
    margin: 0;
  }

  .philosophy-paragraph {
    margin: auto 1rem;
  }

  .philosophy-paragraph p {
    font-size: 0.77rem;
    padding-top: 0.8rem;
  }

  .appointments { /* второй элемент Appointments */
    width: 100%;
    display: block;
    margin: 0;
    margin-top: 4rem;
  }

  .appointments-head{
    background-color: cadetblue;
    display: block;
    width: 100%;
    text-align: center;
  }

  .appointments-head span {
    font-size: 1rem;
    margin: 0;

  }

  .appointments-paragraph {
    margin: auto 1rem;
  }

  .appointments-paragraph p {
    font-size: 0.77rem;
    padding-top: 0.8rem;
  }

  .footer-logo span {
    display: none;
  }

  footer {
    justify-content: center;

  }




}
